In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

In [5]:
list=[4,8,15,16,23,42]
print(type(list))

<class 'list'>

In [9]:
df=pd.Series(list)

In [11]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [17]:
[[df]]

[[0     4
  1     8
  2    15
  3    16
  4    23
  5    42
  dtype: int64]]

[[0     4
  1     8
  2    15
  3    16
  4    23
  5    42
  dtype: int64]]

In [19]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [21]:
list1=[1,2,3,4,5,6,7,8,9,23]
df3=pd.Series(list1)

In [23]:
type(df3)

pandas.core.series.Series

In [25]:
a={"Name":["alice","bob","claire"],"age":[25,30,27],"gender":["female","male","female"]}

In [31]:
df4=pd.DataFrame(a)

In [33]:
df4

     Name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [41]:
df4['gender'].unique()

array(['female', 'male'], dtype=object)

In [43]:
df4['gender'].count()

3